################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS303Project1/.vs/CS303Project1/v15
/CS303Project1/CS303Project1/x64/Debug
